extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen-nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam incidunt officia deserunt dolorum. Ea assumenda nesciunt animi expedita, dolores pariatur. Quisquam non vero quo accusantium impedit atque at eveniet voluptate optio, architecto sint corrupti, tempora exercitationem obcaecati libero, porro voluptates animi accusamus nam suscipit illo aperiam minima blanditiis? Modi quam, officia optio autem minima ipsam unde dicta omnis quo dolorum dolorem consectetur.

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique tempora minima assumenda nostrum veniam. Impedit, ipsum eveniet est aperiam neque velit officia nam voluptatibus, iste ullam, porro saepe recusandae sapiente vel corrupti aut dolore consequuntur quis quia? Adipisci, repudiandae cum officia obcaecati reprehenderit consectetur quod iusto repellendus, minus at est veniam vero?

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, quos rem neque atque excepturi explicabo, similique ea sit dignissimos doloribus dolore itaque sint perferendis praesentium id, quidem iure culpa facere magnam reiciendis. Labore eius voluptatum, in, tempora nisi pariatur quas vitae temporibus commodi.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Similique ea sit dignissimos doloribus dolore itaque sint perferendis praesentium id, quidem iure culpa facere magnam reiciendis. Labore eius voluptatum, in, tempora nisi pariatur quas vitae temporibus commodi.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Similique ea sit dignissimos doloribus dolore itaque sint perferendis praesentium id, quidem iure culpa facere magnam reiciendis. Labore eius voluptatum, in, tempora nisi pariatur quas vitae temporibus commodi.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Similique ea sit dignissimos doloribus dolore itaque sint perferendis praesentium id, quidem iure culpa facere magnam reiciendis. Labore eius voluptatum, in, tempora nisi pariatur quas vitae temporibus commodi.